fastapi
uvicorn[standard]
sqlalchemy
alembic
celery[redis]
redis
PyMySQL
openai
python-jose[cryptography]
passlib[bcrypt]
pandas
openpyxl
pydantic-settings
python-multipart
python-dotenv
passlib[bcrypt]
email-validator
jinja2
